@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Satoshi-Medium";
    src: url("../../public/fonts/Satoshi-Medium.otf");
}

@font-face {
    font-family: "Satoshi-Bold";
    src: url("../../public/fonts/Satoshi-Bold.otf");
}

@font-face {
    font-family: "Satoshi-Light";
    src: url("../../public/fonts/Satoshi-Light.otf");
}
